@model RentalCopyBookVM
@{
    ViewData["Title"] = "Add Rental";
}
<div class="card card-flush shadow-sm">

    <div class="card-header">
        <h3 class="card-title" style="position: relative;top: -14px;">
            <span style="padding-left: 15px; padding-top: 20px;" class="menu-title">

                <img src="/images/subscriper/reading1.png" style="width: 23px;position: relative;left: -3px;">
            </span>
            <!--end::Svg Icon-->
            <span style="padding-left: 5px;font-size: 18px;" class="mt-10">Add Rental</span>
            </span>
            <a type="button" asp-action="Create" asp-controller="Rentals" asp-route-id="@Model.subscriberId" style="position: relative;left: 810px;" class="mt-10 btn btn-outline-secondary">
                <i class="bi bi-skip-backward-circle fs-4"></i>Back
            </a>
        </h3>
    </div>
    <div class="card card-bordered">
        <div class="card-header">
            <h3 class="card-title">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    <input type="text" data-kt-filter="search" class="form-control form-control-solid w-250px ps-5" placeholder="Search..." />
                </div>
                <!--end::Search-->
            </h3>
        </div>
        @* Star search and export card *@

        <div class="card-body py-5">
 
            @if (Model.CopiesBook.Any())
            {
                <div class="table-responsive">
                    <table id="kt_datatable_example" class="table table-striped">
                        <thead>
                            <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                                <th>Book</th>
                                <th>Edition Number</th>
                                <th>Serial Number</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var copy in Model.CopiesBook)
                            {

                                <tr class="align-middle">
                                    <td>
                                        <div class="symbol symbol-60px">
                                            <div class="symbol-label" style="background-image:url(@(Model.Img!=null?Model.Img:"/Images/Book/default.png"))"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="symbol symbol-60px">
                                            <span style="position: relative;left: 2px;bottom: 2px;">@copy.EditionNumber</span>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="symbol symbol-60px">
                                            <span style="position: relative;left: 2px;bottom: 2px;">@copy.SerialNumber</span>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="symbol symbol-60px">
                                            <a asp-controller="Rentals" asp-action="CreatePost" asp-route-title="@Model.Title" asp-route-subsciberid="@Model.subscriberId" class="btn btn-sm btn-light-primary">
                                                <img src="~/images/subscriper/add.png" class="w-20px" />  rental
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <!--begin::Alert-->
                <div class="alert alert-warning d-flex align-items-center p-5">
                    <!--begin::Icon-->
                    <i class="ki-duotone ki-shield-tick fs-2hx text-success me-4"><span class="path1"></span><span class="path2"></span></i>
                    <!--end::Icon-->
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column">
                        <!--begin::Title-->
                        <h4 class="mb-1 text-dark"><i style="padding-right:10px" class="bi bi-exclamation-circle fs-3 text-warning"></i>No Copies for this Book founded!</h4>
                        <!--end::Title-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Alert-->
            }
        </div>

    </div>

    @* Change in db ,change color ,change text , change time update *@
    @section scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    @* render data table when iam her only (Index Category)  *@
    @section DataTableCss {
        <link href="~/mecatronic/css/datatables.bundle.css" rel="stylesheet" />
    }
    @section DataTableJs {
        <script src="~/js/indexcategory.js"></script>
        <script src="~/mecatronic/js/datatables.bundle.js"></script>
    }
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/centerpagination.css" rel="stylesheet" />
